.notifications-list {
  list-style-type: none;
  padding: 0;
}

.notifications-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
}

.notifications-list li.unread {
  background-color: #8AC718;
  font-weight: bold;
  color: #59360D;
}

.notifications-list li.read {
  background-color: #949a59;
  font-weight: normal;
  color: #3B777A;
}

.notifications-list li a {
  color: #59360D;
  text-decoration: none;
}

.notifications-list li a:hover {
  color: #3B777A;
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  color: #59360D;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

button:hover {
  color: #3B5A00;
}