/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    width: 200px;
    margin: 0 auto;
}

.logo-image {
    width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.nav-user {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown {
    position: relative;
    margin-left: 10px;
}

.dropdown-content {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
    z-index: 1;
}

.dropdown-content.open {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
}

.dropdown-content button:hover {
    background-color: #f0f0f0;
}